<header>
	<div id=banner>
___  _   _ _ __ | |__   __ _  __ _  ___ 
/ __ | | | | '_ \| '_ \ / _` |/ _` |/ __|
| (__| |_| | | | | | | | (_| | (_| | (__ 
\___| \__,_|_| |_|_| |_|\__,_|\__,_|\___|

Happy Hacking!
</div>
</header>
<div class="menu">
	<ul>
		<li style="background-color: #014d50;"><a href="{% url 'root' %}">Root</a></li>
		<li><a href="{% url 'dev' %}">Dev</a></li>
		<li><a href="{% url 'network' %}">Network</a></li>
		<li><a href="{% url 'whoami' %}">Whoami</a></li>
		<li><a href="{% url 'ping_me' %}">Ping me!</a></li>		
	</ul>
</div>