<header>
	<div id=banner>
___  _   _ _ __ | |__   __ _  __ _  ___ 
/ __ | | | | '_ \| '_ \ / _` |/ _` |/ __|
| (__| |_| | | | | | | | (_| | (_| | (__ 
\___| \__,_|_| |_|_| |_|\__,_|\__,_|\___|

Happy Hacking!
</div>
</header>
<div class="menu">
	<ul>
		<li style="background-color: #014d50;"><a href="index.html">Root</a></li>
		<li><a href="#">Dev</a></li>
		<li><a href="#">Network</a></li>
		<li><a href="../templates/whoami.html">Whoami</a></li>
		<li><a href="#">Ping me!</a></li>		
	</ul>
</div>